Repository stefan-nistor/romanian-script-decipher, pull requests merged in 2024-01, with the labels that each got.

#33 Intregration backend with frontend for PROFILE
  Backend/src/main/java/ro/uaic/info/romandec/config/SecurityConfig.java
  Backend/src/main/java/ro/uaic/info/romandec/controllers/ProfileController.java
  Backend/src/main/java/ro/uaic/info/romandec/models/dtos/DecipherManuscriptDto.java
  Backend/src/main/java/ro/uaic/info/romandec/models/dtos/ManuscriptDetailedResponseDto.java
  Backend/src/main/java/ro/uaic/info/romandec/models/dtos/ManuscriptPreviewResponseDto.java
  Backend/src/main/java/ro/uaic/info/romandec/models/dtos/SpecificManuscriptDto.java
  Backend/src/main/java/ro/uaic/info/romandec/services/ManuscriptService.java
  Frontend/src/file/file-read.component.html
  Frontend/src/file/file-read.component.ts
  Frontend/src/file/file-upload.component.html
  Frontend/src/file/file-upload.component.ts
  Frontend/src/manuscript/manuscript.model.ts
  Frontend/src/manuscript/manuscript.service.ts
  Frontend/src/user/account/account.component.html
  Frontend/src/user/account/account.component.ts
Labels: frontend, backend

#39 Integration ai aplication
  Frontend/src/file/file-upload.component.html
  Frontend/src/file/file-upload.component.ts
  Frontend/src/manuscript/manuscript.service.ts
  src/main/java/ro/uaic/info/romandec/controllers/ManuscriptController.java
  src/main/java/ro/uaic/info/romandec/controllers/ProfileController.java
Labels: frontend

#41 Added new endpoint for checking module status
  AI-module/main.py
Labels: AI/ML

#42 Waiting file processing functionality
  Frontend/src/file/file-read.component.html
  Frontend/src/file/file-read.component.ts
  Frontend/src/manuscript/manuscript.model.ts
  Frontend/src/manuscript/manuscript.service.ts
Labels: frontend

#45 Add technical report and unit testing into README.md
  README.md
Labels: documentation
